<div style="text-align: center;">
  <h1 class="my-3 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
    Dados Diarios
  </h1>
</div>

<div class="col-md-12 mb-3" style="text-align: center;margin-top: 10px">
  <div class="col-md-3" data-controller="daily-data" style="margin: 0 auto;">
    <%= form_with url: dashboard_index_path(), method: :get, data: { turbo_frame: 'render_table_dashbord_table_diaria' } do |f| %>
      <%= f.date_field :data_fim, class: 'form-control', value: params[:data_fim] || Date.current.to_s, id: 'data_inicio_field', data: { 'daily-data-target': 'dataInicioField' } %>
      <%= f.hidden_field :partial, value: 'table_diaria' %>
    <% end  %>
  </div>


</div>

<%= render 'table_diaria' %>