<section class="background-radial-gradient overflow-hidden">
  <div class="row" style="height: 100vh;overflow-x: auto;">
    <div class="row" style="height: 100vh; padding: 30px 10px 10px 50px">

      <%= render 'charts/apex_chats' %>

    </div>
  </div>

</section>



