<section class="background-radial-gradient overflow-hidden">
  <style>
      .background-radial-gradient {
          background-image: linear-gradient(to bottom right, #4d7530, #072e0d);
      }

      .btn-primary {
          background-color: hsl(150, 94%, 12%);
          border-color:hsl(150, 94%, 12%);
      }

      .btn-primary:hover {
          background-color: hsl(145, 100%, 17%);
          border-color:hsl(145, 100%, 17%);
      }

      /*.card {*/
      /*    background-color: rgb(0 0 0 / 15%) !important;*/
      /*}*/

      .card {
          background-color: rgb(255 255 255) !important;
          margin-bottom: 30px;
      }

      .card-body{
          color: white!important;
      }

      .shadow {
          box-shadow: 0 0rem 1rem rgb(0 0 0 / 53%) !important;
      }

  </style>

  <div class="row" style="height: 100vh;overflow-x: auto;">
    <div class="row" style="height: 100vh; padding: 30px 10px 10px 50px">

      <%= render 'charts/apex_chats' %>

    </div>
  </div>

</section>



