<section class="background-radial-gradient overflow-hidden">
  <div class="row" style="height: 100vh;overflow-x: auto;">
    <div class="row" style="height: 100vh; padding: 30px 10px 10px 50px">

      <div class="container-fluid">
        <div class="row">

          <div class="col-md-12" style="text-align: center;margin-top: 50px">
            <div class="col-md-3" style="margin: 0 auto;">
              <div data-controller="submit-form">
                <%= form_with url: filter_station_dashboard_index_path(), method: :patch do |f| %>
                    <%= f.select :cdg_station,
                                 options_for_select(@cidade, params[:cdg_station]),
                                 { include_blank: 'Selecione' },
                                 class: 'select2 form-control', id: 'subscriber-tags-select', data: { 'submit-form-target': 'cdgStation' } %>
                    <%= f.hidden_field :partial, value: 'data_menu' %>
                <% end %>

              </div>
            </div>
          </div>
        </div>

        <%= render 'data_menu' %>



        </div>
      </div>

    </div>
  </div>

</section>