<%= form_with(model: inmet_weather_datum) do |form| %>
  <% if inmet_weather_datum.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(inmet_weather_datum.errors.count, "error") %> prohibited this inmet_weather_datum from being saved:</h2>

      <ul>
        <% inmet_weather_datum.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
