<h1>Editing inmet weather datum</h1>

<%= render "form", inmet_weather_datum: @inmet_weather_datum %>

<br>

<div>
  <%= link_to "Show this inmet weather datum", @inmet_weather_datum %> |
  <%= link_to "Back to inmet weather data", inmet_weather_data_path %>
</div>
