<button class="btn" style="padding: 4px" onclick=edit_user(<%= user.id %>)>
  <i class="bi bi-pencil-fill"></i>
</button>

<button class="btn" style="padding: 4px" onclick="confirmDelete(<%= user.id %>)">
  <i class="bi bi-trash-fill"></i>
</button>