<button class="btn" style="padding: 4px" onclick=edit_user(<%= user.id %>)>
  <i class="bi bi-pencil-fill"></i>
</button>

<button class="btn" style="padding: 4px" onclick="confirmDelete(<%= user.id %>)">
  <i class="bi bi-trash-fill"></i>
</button>


<!--<div class="form-check form-switch">-->
<!--  <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault">-->
<!--  <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>-->
<!--</div>-->