<h1>Editing noa weather station</h1>

<%= render "form", noa_weather_station: @noa_weather_station %>

<br>

<div>
  <%= link_to "Show this noa weather station", @noa_weather_station %> |
  <%= link_to "Back to noa weather stations", noa_weather_stations_path %>
</div>
