.background-radial-gradient {
    background-image: linear-gradient(to bottom right, #4d7530, #072e0d);
}

.btn-primary {
    background-color: hsl(150, 94%, 12%);
    border-color:hsl(150, 94%, 12%);
}

.btn-primary:hover {
    background-color: hsl(145, 100%, 17%);
    border-color:hsl(145, 100%, 17%);
}


.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: hsl(145, 100%, 17%);;
    border-color: hsl(145, 100%, 17%);;
    box-shadow: 0 0 0 0.25rem hsla(145, 100%, 17%, 0.376);
  }
  

  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: hsl(145, 100%, 17%);
    border-color: hsl(145, 100%, 17%);
  }
  

  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem hsla(145, 100%, 17%, 0.506);
  }
  

  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: hsl(145, 100%, 17%);
    border-color: hsl(145, 100%, 17%);
  }

  .text-bg-info {
    color: #000!important;
    background-color: RGBA(13,202,240,var(--bs-bg-opacity,1))!important;
}

.text-bg-warning {
    color: #000!important;
    background-color: RGBA(255,193,7,var(--bs-bg-opacity,1))!important;
}

.text-bg-danger {
    color: #fff!important;
    background-color: RGBA(220,53,69,var(--bs-bg-opacity,1))!important;
}

.text-bg-success {
    color: #fff!important;
    background-color: RGBA(25,135,84,var(--bs-bg-opacity,1))!important;
}

/*.card {*/
/*    background-color: rgb(0 0 0 / 15%) !important;*/
/*}*/

.card {
    background-color: rgb(255, 255, 255) !important;
    margin-bottom: 30px;
}

.card-body{
    color: white!important;
}

.shadow {
    box-shadow: 0 0rem 1rem rgb(0, 0, 0 / 53%) !important;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: hsl(150, 94%, 12%);
    border-color: hsl(150, 94%, 12%);
}


.page-link {
    color: hsl(150, 94%, 12%);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: hsl(150, 94%, 12%)!important;
    color: white;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 35px !important;
}
.select2-selection__arrow {
    height: 34px !important;
}


div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: hsl(150, 94%, 12%)!important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus{
    box-shadow: 0 0 0!important;
}

.apexcharts-tooltip-y-group {
    color: hsl(150, 94%, 12%)!important;
}