:root {
    --bs-blue: #0d6efd;
    --bs-indigo: #6610f2;
    --bs-purple: #6f42c1;
    --bs-pink: #d63384;
    --bs-red: #dc3545;
    --bs-orange: #fd7e14;
    --bs-yellow: #ffc107;
    --bs-green: #198754;
    --bs-teal: #20c997;
    --bs-cyan: #0dcaf0;
    --bs-white: #fff;
    --bs-gray: #6c757d;
    --bs-gray-dark: #343a40;
    --bs-gray-100: #f8f9fa;
    --bs-gray-200: #e9ecef;
    --bs-gray-300: #dee2e6;
    --bs-gray-400: #ced4da;
    --bs-gray-500: #adb5bd;
    --bs-gray-600: #6c757d;
    --bs-gray-700: #495057;
    --bs-gray-800: #343a40;
    --bs-gray-900: #212529;
    --bs-primary: #0d6efd;
    --bs-secondary: #6c757d;
    --bs-success: #198754;
    --bs-info: #0dcaf0;
    --bs-warning: #ffc107;
    --bs-danger: #dc3545;
    --bs-light: #f8f9fa;
    --bs-dark: #212529;
    --green-1: #072e0d;
    --green-2: #4d7530;
}

.button-dashbord {
    padding-left: 80px;
    padding-right: 80px;
}

.button-active {
    background: linear-gradient(to bottom right, #c06c0d, #a11214)!important;
    /*background: linear-gradient(to bottom right, #f96200, #00263a )!important;*/
}

.button-active-color {
    background: linear-gradient(to bottom right, #4d7530, #072e0d);
}

.apexcharts-tooltip.light .apexcharts-tooltip-title {
    background: var( --green-1)!important;
    border-bottom: 1px solid #ddd!important;;
}

.table-hover > tbody > tr:hover > * {
    --bs-table-accent-bg: hsla(152, 93%, 12%, 0.3) !important;
}

.background-radial-gradient {
    background-image: linear-gradient(to bottom right, #4d7530, #072e0d);
}

.btn-primary {
    background-color: hsl(150, 94%, 12%);
    border-color:hsl(150, 94%, 12%);
}

.btn-primary:hover {
    background-color: hsl(145, 100%, 17%);
    border-color:hsl(145, 100%, 17%);
}


.btn-check:focus + .btn-primary, .btn-primary:focus {
    color: #fff;
    background-color: hsl(145, 100%, 17%);;
    border-color: hsl(145, 100%, 17%);;
    box-shadow: 0 0 0 0.25rem hsla(145, 100%, 17%, 0.376);
  }


  .btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: hsl(145, 100%, 17%);
    border-color: hsl(145, 100%, 17%);
  }


  .btn-check:checked + .btn-primary:focus, .btn-check:active + .btn-primary:focus, .btn-primary:active:focus, .btn-primary.active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: 0 0 0 0.25rem hsla(145, 100%, 17%, 0.506);
  }


  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background-color: hsl(145, 100%, 17%);
    border-color: hsl(145, 100%, 17%);
  }

  .text-bg-info {
    color: #000!important;
    background-color: RGBA(13,202,240,var(--bs-bg-opacity,1))!important;
}

.text-bg-warning {
    color: #000!important;
    background-color: RGBA(255,193,7,var(--bs-bg-opacity,1))!important;
}

.text-bg-danger {
    color: #fff!important;
    background-color: RGBA(220,53,69,var(--bs-bg-opacity,1))!important;
}

.text-bg-success {
    color: #fff!important;
    background-color: RGBA(25,135,84,var(--bs-bg-opacity,1))!important;
}

/*.card {*/
/*    background-color: rgb(0 0 0 / 15%) !important;*/
/*}*/

.card {
    background-color: rgb(255, 255, 255) !important;
    margin-bottom: 30px;
}

.card-body{
    color: white!important;
}

.shadow {
    box-shadow: 0 0rem 1rem rgb(0, 0, 0 / 53%) !important;
}


.page-item.active .page-link {
    z-index: 3;
    color: #fff;
    background-color: hsl(150, 94%, 12%);
    border-color: hsl(150, 94%, 12%);
}


.page-link {
    color: hsl(150, 94%, 12%);
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
    background-color: hsl(150, 94%, 12%)!important;
    color: white;
}

.select2-selection__rendered {
    line-height: 31px !important;
}
.select2-container .select2-selection--single {
    height: 30px !important;
}
.select2-selection__arrow {
    height: 30px !important;
}


div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    background-color: hsl(150, 94%, 12%)!important;
}

div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm:focus{
    box-shadow: 0 0 0!important;
}

.apexcharts-tooltip-y-group {
    color: hsl(150, 94%, 12%)!important;
}

.close {
    background: #ff000000;
    border: transparent;
}

.form-control:focus {
    color: #212529;
    background-color: #fff;
    border-color: hsl(150, 94%, 12%);
    border-width: 0.5px; /* Ajuste esse valor para controlar a espessura da borda */
    outline: 0;
    box-shadow: 0 0 0 0.1rem hsl(150, 94%, 12%);
}


.form-check-input:checked {
    background-color: #133a13;
    border-color: #133a13;
}

.form-check-input:focus {
    background-color: rgba(19, 58, 19, 0.76);
    border-color: rgba(19, 58, 19, 0.76);
}

.form-check-input[type="checkbox"]:indeterminate {
    background-color: rgba(19, 58, 19, 0.76);
    border-color: rgba(19, 58, 19, 0.76);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='M6 10h8'/%3e%3c/svg%3e");
}

.padding-border-my {
    padding: 0px!important;
    padding-left: 7px!important;
    padding-right: 6px!important;
}

.btn-check:checked + .btn-primary, .btn-check:active + .btn-primary, .btn-primary:active, .btn-primary.active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background: linear-gradient(to bottom right, #c06c0d, #a11214)!important;
    border-color: #a93a13;
}

.apexcharts-theme-light {
    color: black!important;
}